### MODEL 1: Logistic Regression with a few numerical features

In [215]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [216]:
from functools import partial

In [217]:
import warnings
warnings.filterwarnings("ignore")

In [218]:
from dotenv import load_dotenv

from pathlib import Path

env_path = Path("../../.env-live")

if env_path.exists():
    print('envs Loaded')
    load_dotenv(dotenv_path=env_path)
from jrjModelRegistry.jrjModelRegistry import registerAJrjModel

envs Loaded

In [219]:
print(env_path.resolve())
print(env_path.exists())

C:\Users\User\live-class-codes\.env-live
True

In [220]:
import os
print("S3 region:", os.getenv("JRJ_MODEL_REGISTRY_S3_REGION"))

S3 region: ca-central-1

In [221]:
import os
print(os.getcwd())

C:\Users\User\live-class-codes\live-class-codes\notebooks

In [222]:
os.getenv("JRJ_MODEL_REGISTRY_S3_REGION", "JRJ_MODEL_REGISTRY_S3_REGION")

'ca-central-1'

In [223]:
def generalRegressionPredictor(self, transformedData):
    return self.predict(transformedData)

In [224]:
import os
print(os.environ.get('JRJ_MODEL_REGISTRY_S3_ENDPOINT', "Not Found"))

s3.ca-central-1.wasabisys.com/273-g3

In [225]:
import os

region = os.getenv("JRJ_MODEL_REGISTRY_S3_REGION")
print("Region loaded from .env:", region)

if not region or region == "JRJ_MODEL_REGISTRY_S3_REGION":
    raise ValueError("JRJ_MODEL_REGISTRY_S3_REGION is missing or not loaded correctly!")

Region loaded from .env: ca-central-1

In [226]:
LoanDf = pd.read_csv("./Dataset for Final Project/Loan_Approval.csv")

In [227]:
LoanDf.head(10)

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22,female,Master,71948,0,RENT,35000,PERSONAL,16.02,0.49,3,561,No,1
1,21,female,High School,12282,0,OWN,1000,EDUCATION,11.14,0.08,2,504,Yes,0
2,25,female,High School,12438,3,MORTGAGE,5500,MEDICAL,12.87,0.44,3,635,No,1
3,23,female,Bachelor,79753,0,RENT,35000,MEDICAL,15.23,0.44,2,675,No,1
4,24,male,Master,66135,1,RENT,35000,MEDICAL,14.27,0.53,4,586,No,1
5,21,female,High School,12951,0,OWN,2500,VENTURE,7.14,0.19,2,532,No,1
6,26,female,Bachelor,93471,1,RENT,35000,EDUCATION,12.42,0.37,3,701,No,1
7,24,female,High School,95550,5,RENT,35000,MEDICAL,11.11,0.37,4,585,No,1
8,24,female,Associate,100684,3,RENT,35000,PERSONAL,8.90,0.35,2,544,No,1
9,21,female,High School,12739,0,OWN,1600,VENTURE,14.74,0.13,3,640,No,1

In [228]:
LoanDf.shape # our dataframe contains 45000 rows and 14 columns/attributes

(45000, 14)

In [229]:
LoanDf.isnull().sum() # no missing values in our DF

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

In [230]:
LoanDf[LoanDf['person_age'] > 100] # checking if people aged >100 have a 0 loan status. We are not going to delete the rows where age >100

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
81,144,male,Bachelor,300616,125,RENT,4800,VENTURE,13.57,0.02,3,789,No,0
183,144,male,Associate,241424,121,MORTGAGE,6000,EDUCATION,11.86,0.02,2,807,No,0
575,123,female,High School,97140,101,RENT,20400,EDUCATION,10.25,0.21,3,805,Yes,0
747,123,male,Bachelor,94723,100,RENT,20000,VENTURE,11.01,0.21,4,714,Yes,0
32297,144,female,Associate,7200766,124,MORTGAGE,5000,PERSONAL,12.73,0.00,25,850,No,0
37930,116,male,Bachelor,5545545,93,MORTGAGE,3823,VENTURE,12.15,0.00,24,708,No,0
38113,109,male,High School,5556399,85,MORTGAGE,6195,VENTURE,12.58,0.00,22,792,No,0

In [231]:
LoanDf.drop(LoanDf[LoanDf['person_age'] > 100].index, inplace=True)

In [254]:
print(LoanDf_encoded.columns)

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_intent', 'loan_int_rate', 'loan_percent_income',
       'cb_person_cred_hist_length', 'credit_score', 'loan_status',
       'person_gender_male', 'person_education_Bachelor',
       'person_education_Doctorate', 'person_education_High School',
       'person_education_Master', 'person_home_ownership_OTHER',
       'person_home_ownership_OWN', 'person_home_ownership_RENT',
       'previous_loan_defaults_on_file_Yes'],
      dtype='object')

In [22]:
# Check if the rows where age > 100 have been deleted
if (LoanDf['person_age'] > 100).any():
    print("There are ages exceeding 100.")
else:
    print("All ages are 100 or less.")

All ages are 100 or less.

In [232]:
LoanDf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44993 entries, 0 to 44999
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44993 non-null  int64
 1   person_gender                   44993 non-null  object
 2   person_education                44993 non-null  object
 3   person_income                   44993 non-null  int64
 4   person_emp_exp                  44993 non-null  int64
 5   person_home_ownership           44993 non-null  object
 6   loan_amnt                       44993 non-null  int64
 7   loan_intent                     44993 non-null  object
 8   loan_int_rate                   44993 non-null  float64
 9   loan_percent_income             44993 non-null  float64
 10  cb_person_cred_hist_length      44993 non-null  int64
 11  credit_score                    44993 non-null  int64
 12  previous_loan_defaults_on_file  44993 non-null  object
 13  loan_status                     44993 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 5.1+ MB

In [233]:
categorical_cols = [
    'person_gender',
    'person_education',
    'person_home_ownership',
    'previous_loan_defaults_on_file'
]

# Assuming your DataFrame is called df
LoanDf_encoded = pd.get_dummies(LoanDf, columns=categorical_cols, drop_first=True)

print(LoanDf_encoded.columns)

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_intent', 'loan_int_rate', 'loan_percent_income',
       'cb_person_cred_hist_length', 'credit_score', 'loan_status',
       'person_gender_male', 'person_education_Bachelor',
       'person_education_Doctorate', 'person_education_High School',
       'person_education_Master', 'person_home_ownership_OTHER',
       'person_home_ownership_OWN', 'person_home_ownership_RENT',
       'previous_loan_defaults_on_file_Yes'],
      dtype='object')

In [234]:
LoanDf_encoded

,person_age,person_income,person_emp_exp,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,person_education_Bachelor,person_education_Doctorate,person_education_High School,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,previous_loan_defaults_on_file_Yes
0,22,71948,0,35000,PERSONAL,16.02,0.49,3,561,1,False,False,False,False,True,False,False,True,False
1,21,12282,0,1000,EDUCATION,11.14,0.08,2,504,0,False,False,False,True,False,False,True,False,True
2,25,12438,3,5500,MEDICAL,12.87,0.44,3,635,1,False,False,False,True,False,False,False,False,False
3,23,79753,0,35000,MEDICAL,15.23,0.44,2,675,1,False,True,False,False,False,False,False,True,False
4,24,66135,1,35000,MEDICAL,14.27,0.53,4,586,1,True,False,False,False,True,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27,47971,6,15000,MEDICAL,15.66,0.31,3,645,1,True,False,False,False,False,False,False,True,False
44996,37,65800,17,9000,HOMEIMPROVEMENT,14.07,0.14,11,621,1,False,False,False,False,False,False,False,True,False
44997,33,56942,7,2771,DEBTCONSOLIDATION,10.02,0.05,10,668,1,True,False,False,False,False,False,False,True,False
44998,29,33164,4,12000,EDUCATION,13.23,0.36,6,604,1,True,True,False,False,False,False,False,True,False
44999,24,51609,1,6665,DEBTCONSOLIDATION,17.05,0.13,3,628,1,True,False,False,True,False,False,False,True,False

In [235]:
from sklearn.model_selection import train_test_split

In [236]:
def loanapprovalBinaryCalssifiactionTransformer(dataForTransfer=None):
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)

    # Ensure required columns exist and are numeric
    features = ["person_income", "loan_amnt", "credit_score"]
    for col in features:
        if col not in df.columns:
            raise ValueError(f"Missing required column: {col}")
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Drop rows with NaNs in features (optional, or handle differently)
    df = df.dropna(subset=features)

    dfTransformer = sm.add_constant(df[["person_income", "loan_amnt", "credit_score"]], has_constant='add')
    return dfTransformer

In [237]:
loanapprovalBinaryClassificationSampleData = LoanDf_encoded[["person_income", "loan_amnt", "credit_score"]].sample(n=5000, random_state=42)

In [238]:
# Split the dataset into training and testing sets
trainSet, testSet = train_test_split(
  LoanDf_encoded,
  test_size=0.3,
  random_state=1,
  stratify=LoanDf['loan_status']
)
trainSet.shape, testSet.shape

((31495, 19), (13498, 19))

In [239]:
# Fit the logistic regression model
features = ["person_income", "loan_amnt", "credit_score"]
xTrain = trainSet[features]
yTrain = trainSet['loan_status'].astype(int)
yTest = testSet['loan_status'].astype(int)

In [248]:
model1 = sm.Logit(
  yTrain,
  loanapprovalBinaryCalssifiactionTransformer(xTrain)
)
model1Fit = model1.fit()
print(model1Fit.summary())

Optimization terminated successfully.
         Current function value: 0.468544
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:            loan_status   No. Observations:                31495
Model:                          Logit   Df Residuals:                    31491
Method:                           MLE   Df Model:                            3
Date:                Thu, 26 Jun 2025   Pseudo R-squ.:                  0.1155
Time:                        21:54:41   Log-Likelihood:                -14757.
converged:                       True   LL-Null:                       -16684.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -0.3414      0.183     -1.868      0.062      -0.700       0.017
person_income  -2.88e-05   6.04e-07    -47.705      0.000      -3e-05   -2.76e-05
loan_amnt         0.0001   2.69e-06     43.063      0.000       0.000       0.000
credit_score     -0.0001      0.000     -0.495      0.621      -0.001       0.000
=================================================================================

In [242]:
predict1 = model1Fit.predict(loanapprovalBinaryCalssifiactionTransformer(testSet))
testSet['predict1'] = predict1
sumTable = pd.DataFrame({'A': testSet['loan_status'], 'Prob': testSet['predict1']})
sumTable.to_csv("ROC.csv", index=True)

In [243]:
testSet['predict1'].describe()

count    1.349800e+04
mean     2.213395e-01
std      1.414173e-01
min      3.247952e-22
25%      1.096518e-01
50%      2.072974e-01
75%      3.124226e-01
max      8.255901e-01
Name: predict1, dtype: float64

In [203]:
testSet['predict1']

3374     0.248559
602      0.574103
33580    0.344194
23082    0.220966
31569    0.065592
           ...
2779     0.268174
31573    0.022218
10895    0.101377
44176    0.128432
26566    0.031404
Name: predict1, Length: 13498, dtype: float64

In [244]:
sumTable1 = pd.DataFrame({'A': testSet['loan_status'], 'Prob': testSet['predict1']})

In [245]:
# Make predictions based on probability threshold of 0.5
testSet['predictions'] = (testSet['predict1'] > 0.25).astype(int)
sumTable1['P'] = testSet['predictions']
sumTable1

       A      Prob  P
3374   0  0.248559  0
602    1  0.574103  1
33580  0  0.344194  1
23082  0  0.220966  0
31569  0  0.065592  0
...   ..       ... ..
2779   0  0.268174  1
31573  0  0.022218  0
10895  0  0.101377  0
44176  1  0.128432  0
26566  0  0.031404  0

[13498 rows x 3 columns]

In [206]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

In [246]:
# Calculate accuracy
accuracy = accuracy_score(sumTable1['A'], sumTable1['P'])
print(f'Accuracy: {accuracy}')

Accuracy: 0.6906208327159579

In [208]:
# Calculate recall
recall = recall_score(sumTable1['A'], sumTable1['P'])
print(f'Recall: {recall}')

Recall: 0.682

In [209]:
# Calculate precision
precision = precision_score(sumTable1['A'], sumTable1['P'])
print(f'Precision: {precision}')

Precision: 0.38838268792710706

In [210]:
# Sensitivity and Specificity (Sensitivity is same as recall)
sensitivity = recall
specificity = sum((sumTable1['A'] == 0) & (sumTable1['P'] == 0)) / sum(sumTable1['A'] == 0)
print(f'Sensitivity: {sensitivity}')
print(f'Specificity: {specificity}')

Sensitivity: 0.682
Specificity: 0.6930843970280053

In [211]:
# Calculate F1 Score
f1Score = 2 * (precision * recall) / (precision + recall)
print(f'F1 Score: {f1Score}')

F1 Score: 0.49492017416545714

In [251]:
def to_float_dict(d):
    return {k: float(v) for k, v in d.items()}

def postprocessor(preds, original_input=None):
    predicted_classes = (preds > 0.5).astype(int)
    return {"predictions": predicted_classes.tolist()}

model1Fit.transformer = loanapprovalBinaryCalssifiactionTransformer
model1Fit.mainPredictor = partial(generalRegressionPredictor, model1Fit)
model1Fit.postprocessor = postprocessor 

registerAJrjModel(
    model1Fit,
    {
        "modelName": "group3_loan_approval_BinaryClassificationModel1",
        "version": "1.0.2",
        "params": to_float_dict(model1Fit.params.to_dict()),
        "score": float(model1Fit.prsquared),
        "otherEvaluationMetrics": {
            "accuracy": float(accuracy),
            "recall": float(recall),
            "precision": float(precision),
            "sensitivity": float(sensitivity),
            "specificity": float(specificity),
            "f1Score": float(f1Score),
        },
        "modelLibrary": "statsmodels.api.Logit",
        "libraryMetadata": {
            "pvalues": to_float_dict(model1Fit.pvalues.to_dict()),
            "pseudo_r_squared": float(model1Fit.prsquared),
            "llf": float(model1Fit.llf),
            "aic": float(model1Fit.aic),
            "bic": float(model1Fit.bic)
        },
        "sampleData": {
    "dataForTransfer": loanapprovalBinaryClassificationSampleData[["person_income", "loan_amnt", "credit_score"]]
                           .head(5)
                           .to_dict(orient="records")

        }
    }

)

✅ Uploaded encrypted ZIP to s3://273-g3/group3_loan_approval_BinaryClassificationModel1__1.0.2.pkl.zip

{'_id': '685dfa2f3b813e62d9fd3375',
 'modelName': 'group3_loan_approval_BinaryClassificationModel1',
 'version': '1.0.2',
 'params': {'const': -0.3414195312661968,
  'person_income': -2.880135363361832e-05,
  'loan_amnt': 0.00011563830914966906,
  'credit_score': -0.00014087540105437213},
 'score': 0.11553809164691042,
 'otherEvaluationMetrics': {'accuracy': 0.6906208327159579,
  'recall': 0.682,
  'precision': 0.38838268792710706,
  'sensitivity': 0.682,
  'specificity': 0.6930843970280053,
  'f1Score': 0.49492017416545714},
 'modelLibrary': 'statsmodels.api.Logit',
 'libraryMetadata': {'pvalues': {'const': 0.06169985823546658,
   'person_income': 0.0,
   'loan_amnt': 0.0,
   'credit_score': 0.6206994981211525},
  'pseudo_r_squared': 0.11553809164691042,
  'llf': -14756.794613623693,
  'aic': 29521.589227247387,
  'bic': 29555.01956357561},
 'sampleData': {'dataForTransfer': [{'person_income': 68127,
    'loan_amnt': 10000,
    'credit_score': 690},
   {'person_income': 99919, 'loan_amnt': 5000, 'credit_score': 676},
   {'person_income': 34728, 'loan_amnt': 8400, 'credit_score': 661},
   {'person_income': 141611, 'loan_amnt': 12000, 'credit_score': 612},
   {'person_income': 90234, 'loan_amnt': 25000, 'credit_score': 499}]},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 3281277,
 'zippedModelSizeBytes': 605044,
 's3Url': '273-g3/group3_loan_approval_BinaryClassificationModel1__1.0.2.pkl.zip',
 'createdAt': '2025-06-27T01:55:59.952Z',
 'updatedAt': '2025-06-27T01:55:59.952Z'}

### MODEL 2: Logistic Regression with one numerical feature

In [147]:
def loanapprovalBinaryCalssifiactionTransformer2(dataForTransfer=None):
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)

    # Ensure required columns exist and are numeric
    features2 = ["loan_amnt"]
    for col in features2:
        if col not in df.columns:
            raise ValueError(f"Missing required column: {col}")
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Drop rows with NaNs in features (optional, or handle differently)
    df = df.dropna(subset=features)

    dfTransformer = sm.add_constant(df[features2], has_constant='add')
    return dfTransformer

In [148]:
loanapprovalBinaryClassificationSampleData = LoanDf_encoded[["loan_amnt"]].sample(n=5000, random_state=42)

In [149]:
# Fit the logistic regression model
features2 = ["loan_amnt"]
xTrain = trainSet[features2]
yTrain = trainSet['loan_status'].astype(int)
yTest = testSet['loan_status'].astype(int)

In [150]:
model2 = sm.Logit(
  yTrain,
  loanapprovalBinaryCalssifiactionTransformer2(xTrain)
)
model2Fit = model2.fit()
print(model2Fit.summary())

Optimization terminated successfully.
         Current function value: 0.524130
         Iterations 5
                           Logit Regression Results
==============================================================================
Dep. Variable:            loan_status   No. Observations:                31495
Model:                          Logit   Df Residuals:                    31493
Method:                           MLE   Df Model:                            1
Date:                Thu, 26 Jun 2025   Pseudo R-squ.:                 0.01061
Time:                        21:22:40   Log-Likelihood:                -16507.
converged:                       True   LL-Null:                       -16684.
Covariance Type:            nonrobust   LLR p-value:                 5.537e-79
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.6407      0.025    -65.125      0.000      -1.690      -1.591
loan_amnt   3.874e-05   2.03e-06     19.055      0.000    3.48e-05    4.27e-05
==============================================================================

In [151]:
# Split the dataset into training and testing sets
trainSet, testSet = train_test_split(
  LoanDf_encoded,
  test_size=0.3,
  random_state=1,
  stratify=LoanDf['loan_status']
)
trainSet.shape, testSet.shape

((31495, 19), (13498, 19))

In [176]:
predict2 = model2Fit.predict(loanapprovalBinaryCalssifiactionTransformer2(testSet))
testSet['predict2'] = predict2
sumTable2 = pd.DataFrame({'A': testSet['loan_status'], 'Prob': testSet['predict2']})
testSet['predictions'] = (testSet['predict2'] > 0.2).astype(int)
sumTable2['P'] = testSet['predictions']
sumTable2.to_csv("ROC.csv", index=True)
sumTable2

       A      Prob  P
3374   0  0.190465  0
602    1  0.296121  1
33580  0  0.250059  1
23082  0  0.209034  1
31569  0  0.242864  1
...   ..       ... ..
2779   0  0.235811  1
31573  0  0.181666  0
10895  0  0.196511  0
44176  1  0.182242  0
26566  0  0.196511  0

[13498 rows x 3 columns]

In [177]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

In [178]:
# Calculate accuracy
accuracy2 = accuracy_score(sumTable2['A'], sumTable2['P'])
print(f'Accuracy: {accuracy2}')

Accuracy: 0.464661431323159

In [179]:
# Calculate recall
recall2 = recall_score(sumTable2['A'], sumTable2['P'])
print(f'Recall: {recall2}')

Recall: 0.6426666666666667

In [180]:
print(testSet['predict2'].describe())

count    13498.000000
mean         0.221889
std          0.045055
min          0.165021
25%          0.190465
50%          0.209034
75%          0.235811
max          0.429306
Name: predict2, dtype: float64

In [181]:
# Calculate precision
precision2 = precision_score(sumTable2['A'], sumTable2['P'])
print(f'Precision: {precision2}')

Precision: 0.23855481316505817

In [182]:
# Sensitivity and Specificity (Sensitivity is same as recall)
sensitivity2 = recall2
specificity2 = sum((sumTable2['A'] == 0) & (sumTable2['P'] == 0)) / sum(sumTable2['A'] == 0)
print(f'Sensitivity: {sensitivity2}')
print(f'Specificity: {specificity2}')

Sensitivity: 0.6426666666666667
Specificity: 0.41379310344827586

In [183]:
# Calculate F1 Score
f1Score2 = 2 * (precision2 * recall2) / (precision2 + recall2)
print(f'F1 Score: {f1Score2}')

F1 Score: 0.34795163327919154

In [253]:
def to_float_dict(d):
    return {k: float(v) for k, v in d.items()}

def postprocessor(preds, original_input=None):
    predicted_classes = (preds > 0.5).astype(int)
    return {"predictions": predicted_classes.tolist()}

model2Fit.transformer = loanapprovalBinaryCalssifiactionTransformer_model2
model2Fit.mainPredictor = partial(generalRegressionPredictor, model2Fit)
model2Fit.postprocessor = postprocessor 

registerAJrjModel(
    model2Fit,
    {
        "modelName": "group3_loan_approval_BinaryClassificationModel2",
        "version": "1.0.0",
        "params": to_float_dict(model2Fit.params.to_dict()),
        "score": float(model2Fit.prsquared),
        "otherEvaluationMetrics": {
            "accuracy": float(accuracy2),
            "recall": float(recall2),
            "precision": float(precision2),
            "sensitivity": float(sensitivity2),
            "specificity": float(specificity2),
            "f1Score": float(f1Score2),
        },
        "modelLibrary": "statsmodels.api.Logit",
        "libraryMetadata": {
            "pvalues": to_float_dict(model2Fit.pvalues.to_dict()),
            "pseudo_r_squared": float(model2Fit.prsquared),
            "llf": float(model2Fit.llf),
            "aic": float(model2Fit.aic),
            "bic": float(model2Fit.bic)
        },
        "sampleData": {
    "dataForTransfer": loanapprovalBinaryClassificationSampleData[["loan_amnt"]]
                           .head(5)
                           .to_dict(orient="records")

        }
    }

)

✅ Uploaded encrypted ZIP to s3://273-g3/group3_loan_approval_BinaryClassificationModel2__1.0.0.pkl.zip

{'_id': '685dfa8d3b813e62d9fd3376',
 'modelName': 'group3_loan_approval_BinaryClassificationModel2',
 'version': '1.0.0',
 'params': {'const': -1.6407060092891832, 'loan_amnt': 3.874347923157579e-05},
 'score': 0.01061041572346022,
 'otherEvaluationMetrics': {'accuracy': 0.464661431323159,
  'recall': 0.6426666666666667,
  'precision': 0.23855481316505817,
  'sensitivity': 0.6426666666666667,
  'specificity': 0.41379310344827586,
  'f1Score': 0.34795163327919154},
 'modelLibrary': 'statsmodels.api.Logit',
 'libraryMetadata': {'pvalues': {'const': 0.0,
   'loan_amnt': 5.935739790811908e-81},
  'pseudo_r_squared': 0.01061041572346022,
  'llf': -16507.459224800008,
  'aic': 33018.918449600016,
  'bic': 33035.63361776413},
 'sampleData': {'dataForTransfer': [{'loan_amnt': 10000},
   {'loan_amnt': 5000},
   {'loan_amnt': 8400},
   {'loan_amnt': 12000},
   {'loan_amnt': 25000}]},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 2273073,
 'zippedModelSizeBytes': 199259,
 's3Url': '273-g3/group3_loan_approval_BinaryClassificationModel2__1.0.0.pkl.zip',
 'createdAt': '2025-06-27T01:57:33.471Z',
 'updatedAt': '2025-06-27T01:57:33.471Z'}

## MODEL 3: Logistic Regression with all Numerical Features

In [298]:
def loanapprovalBinaryCalssifiactionTransformer3(dataForTransfer=None):
    if isinstance(dataForTransfer, pd.DataFrame):
        df = dataForTransfer.copy()
    else:
        df = pd.DataFrame(dataForTransfer)

    # Ensure required columns exist and are numeric
    features3 = ['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
    'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']
    for col in features3:
        if col not in df.columns:
            raise ValueError(f"Missing required column: {col}")
        
        # Convert bool to int explicitly
        if df[col].dtype == 'bool':
            df[col] = df[col].astype(int)
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce')

    df = df.dropna(subset=features3)
    dfTransformed = sm.add_constant(df[features3], has_constant='add')
    return dfTransformed

In [283]:
loanapprovalBinaryClassificationSampleData = LoanDf_encoded[['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
    'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']].sample(n=5000, random_state=42)

In [285]:
# Fit the logistic regression model
features3 = ['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
    'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']
xTrain = trainSet[features3]
yTrain = trainSet['loan_status'].astype(int)
yTest = testSet['loan_status'].astype(int)

In [286]:
model3 = sm.Logit(
  yTrain,
  loanapprovalBinaryCalssifiactionTransformer3(xTrain)
)
model3Fit = model3.fit()
print(model3Fit.summary())

Optimization terminated successfully.
         Current function value: 0.391219
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:            loan_status   No. Observations:                31495
Model:                          Logit   Df Residuals:                    31486
Method:                           MLE   Df Model:                            8
Date:                Thu, 26 Jun 2025   Pseudo R-squ.:                  0.2615
Time:                        22:23:39   Log-Likelihood:                -12321.
converged:                       True   LL-Null:                       -16684.
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================================
                                 coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                         -6.8629      0.311    -22.062      0.000      -7.473      -6.253
person_age                     0.0221      0.010      2.170      0.030       0.002       0.042
person_income                7.35e-07   4.37e-07      1.681      0.093   -1.22e-07    1.59e-06
person_emp_exp                -0.0199      0.009     -2.237      0.025      -0.037      -0.002
loan_amnt                     -0.0001   4.32e-06    -25.675      0.000      -0.000      -0.000
loan_int_rate                  0.3349      0.006     54.707      0.000       0.323       0.347
loan_percent_income           15.6056      0.306     50.951      0.000      15.005      16.206
cb_person_cred_hist_length    -0.0048      0.009     -0.543      0.587      -0.022       0.012
credit_score                  -0.0003      0.000     -0.993      0.320      -0.001       0.000
==============================================================================================

In [288]:
# Split the dataset into training and testing sets
trainSet, testSet = train_test_split(
  LoanDf_encoded,
  test_size=0.3,
  random_state=1,
  stratify=LoanDf['loan_status']
)
trainSet.shape, testSet.shape

((31495, 19), (13498, 19))

In [289]:
predict3 = model3Fit.predict(loanapprovalBinaryCalssifiactionTransformer3(testSet))
testSet['predict3'] = predict3
sumTable3 = pd.DataFrame({'A': testSet['loan_status'], 'Prob': testSet['predict3']})
testSet['predictions'] = (testSet['predict3'] > 0.2).astype(int)
sumTable3['P'] = testSet['predictions']
sumTable3.to_csv("ROC.csv", index=True)
sumTable3

       A      Prob  P
3374   0  0.384466  1
602    1  0.817822  1
33580  0  0.276564  1
23082  0  0.046695  0
31569  0  0.075174  0
...   ..       ... ..
2779   0  0.422463  1
31573  0  0.065135  0
10895  0  0.023410  0
44176  1  0.082594  0
26566  0  0.028458  0

[13498 rows x 3 columns]

In [290]:
from sklearn.metrics import accuracy_score, recall_score, precision_score

In [291]:
# Calculate accuracy
accuracy3 = accuracy_score(sumTable3['A'], sumTable3['P'])
print(f'Accuracy: {accuracy3}')

Accuracy: 0.7504815528226404

In [292]:
# Calculate recall
recall3 = recall_score(sumTable3['A'], sumTable3['P'])
print(f'Recall: {recall3}')

Recall: 0.787

In [294]:
# Calculate precision
precision3 = precision_score(sumTable3['A'], sumTable3['P'])
print(f'Precision: {precision3}')

Precision: 0.4638506876227898

In [295]:
# Sensitivity and Specificity (Sensitivity is same as recall)
sensitivity3 = recall3
specificity3 = sum((sumTable3['A'] == 0) & (sumTable3['P'] == 0)) / sum(sumTable3['A'] == 0)
print(f'Sensitivity: {sensitivity3}')
print(f'Specificity: {specificity3}')

Sensitivity: 0.787
Specificity: 0.7400457229948562

In [296]:
# Calculate F1 Score
f1Score3 = 2 * (precision3 * recall3) / (precision3 + recall3)
print(f'F1 Score: {f1Score3}')

F1 Score: 0.5836835599505562

In [300]:
def to_float_dict(d):
    return {k: float(v) for k, v in d.items()}

def postprocessor(preds, original_input=None):
    predicted_classes = (preds > 0.5).astype(int)
    return {"predictions": predicted_classes.tolist()}

model3Fit.transformer = loanapprovalBinaryCalssifiactionTransformer3
model3Fit.mainPredictor = partial(generalRegressionPredictor, model3Fit)
model3Fit.postprocessor = postprocessor 

registerAJrjModel(
    model2Fit,
    {
        "modelName": "group3_loan_approval_BinaryClassificationModel3",
        "version": "1.0.0",
        "params": to_float_dict(model3Fit.params.to_dict()),
        "score": float(model3Fit.prsquared),
        "otherEvaluationMetrics": {
            "accuracy": float(accuracy3),
            "recall": float(recall3),
            "precision": float(precision3),
            "sensitivity": float(sensitivity3),
            "specificity": float(specificity3),
            "f1Score": float(f1Score3),
        },
        "modelLibrary": "statsmodels.api.Logit",
        "libraryMetadata": {
            "pvalues": to_float_dict(model3Fit.pvalues.to_dict()),
            "pseudo_r_squared": float(model3Fit.prsquared),
            "llf": float(model3Fit.llf),
            "aic": float(model3Fit.aic),
            "bic": float(model3Fit.bic)
        },
        "sampleData": {
    "dataForTransfer": loanapprovalBinaryClassificationSampleData[['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
    'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length', 'credit_score']]
                           .head(5)
                           .to_dict(orient="records")

        }
    }

)

✅ Uploaded encrypted ZIP to s3://273-g3/group3_loan_approval_BinaryClassificationModel3__1.0.0.pkl.zip

{'_id': '685e02383b813e62d9fd3377',
 'modelName': 'group3_loan_approval_BinaryClassificationModel3',
 'version': '1.0.0',
 'params': {'const': -6.862939630894656,
  'person_age': 0.022074779793200897,
  'person_income': 7.349742587436559e-07,
  'person_emp_exp': -0.019931678808326362,
  'loan_amnt': -0.00011098498855305164,
  'loan_int_rate': 0.3349491013435982,
  'loan_percent_income': 15.605632614847933,
  'cb_person_cred_hist_length': -0.004758494305941623,
  'credit_score': -0.0003199087185767168},
 'score': 0.2615037621146349,
 'otherEvaluationMetrics': {'accuracy': 0.7504815528226404,
  'recall': 0.787,
  'precision': 0.4638506876227898,
  'sensitivity': 0.787,
  'specificity': 0.7400457229948562,
  'f1Score': 0.5836835599505562},
 'modelLibrary': 'statsmodels.api.Logit',
 'libraryMetadata': {'pvalues': {'const': 7.285962790176204e-108,
   'person_age': 0.029999389349733393,
   'person_income': 0.09279185054290598,
   'person_emp_exp': 0.02528712399042844,
   'loan_amnt': 2.235975150812683e-145,
   'loan_int_rate': 0.0,
   'loan_percent_income': 0.0,
   'cb_person_cred_hist_length': 0.5874076062750946,
   'credit_score': 0.32048181658464825},
  'pseudo_r_squared': 0.2615037621146349,
  'llf': -12321.432050929601,
  'aic': 24660.864101859202,
  'bic': 24736.082358597705},
 'sampleData': {'dataForTransfer': [{'person_age': 64,
    'person_income': 68127,
    'person_emp_exp': 44,
    'loan_amnt': 10000,
    'loan_int_rate': 16.82,
    'loan_percent_income': 0.15,
    'cb_person_cred_hist_length': 18,
    'credit_score': 690},
   {'person_age': 23,
    'person_income': 99919,
    'person_emp_exp': 0,
    'loan_amnt': 5000,
    'loan_int_rate': 8.49,
    'loan_percent_income': 0.05,
    'cb_person_cred_hist_length': 4,
    'credit_score': 676},
   {'person_age': 23,
    'person_income': 34728,
    'person_emp_exp': 1,
    'loan_amnt': 8400,
    'loan_int_rate': 10.99,
    'loan_percent_income': 0.24,
    'cb_person_cred_hist_length': 2,
    'credit_score': 661},
   {'person_age': 29,
    'person_income': 141611,
    'person_emp_exp': 8,
    'loan_amnt': 12000,
    'loan_int_rate': 13.55,
    'loan_percent_income': 0.08,
    'cb_person_cred_hist_length': 8,
    'credit_score': 612},
   {'person_age': 24,
    'person_income': 90234,
    'person_emp_exp': 0,
    'loan_amnt': 25000,
    'loan_int_rate': 11.01,
    'loan_percent_income': 0.28,
    'cb_person_cred_hist_length': 4,
    'credit_score': 499}]},
 'modelType': 'model',
 'keepLastOnly': False,
 'modelSizeBytes': 2273073,
 'zippedModelSizeBytes': 199259,
 's3Url': '273-g3/group3_loan_approval_BinaryClassificationModel3__1.0.0.pkl.zip',
 'createdAt': '2025-06-27T02:30:16.200Z',
 'updatedAt': '2025-06-27T02:30:16.200Z'}